.App-logo {
  max-width: 30%;
  margin: 0 auto;
  display: block;
}
.App-header {
  margin: 30px 0;
}
.Dictionary-Header {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: rgba(183, 152, 199, 1);
}
.Footer {
  color: rgba(183, 152, 199, 1);
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 50px;
}
.Footer a {
  color: rgba(183, 152, 199, 1);
  font-weight: 600;
}
