img.photo {
  border-radius: 8px;
  margin: 30px auto;
  box-shadow: 0 5px 15px rgb(255 255 255 / 10%);
  max-width: 100%;
  display: flex;
}
.row-style {
  display: flex;
  margin: 30px;
  margin-bottom: 50px;
  max-width: 100%;
}
@media (max-width: 992px) {
  .row {
    justify-content: center;
    flex-direction: column;
    display: block;
    margin: 0 auto;
  }
  img.photo {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 30px auto;
    max-width: 90%;
    border-radius: 16px;
  }
  .column-style {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
